<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>login_host</key>
	<string>Host</string>
	<key>login_port</key>
	<string>Port</string>
	<key>login_name</key>
	<string>Name</string>
	<key>login_password</key>
	<string>Password</string>
	<key>login_fail_title</key>
	<string>Login Failed</string>
	<key>login_account_error</key>
	<string>Incorrect username or password.</string>
	<key>login_from</key>
	<string>From</string>
	<key>login_fail_server_error</key>
	<string>Failed to connect to server !</string>
	<key>login_fail_confirm</key>
	<string>Confirm</string>
	<key>login_developer</key>
	<string>Developed by</string>
	<key>login_sign_in</key>
	<string>Sign in</string>
	<key>login_version</key>
	<string>Ceph Monitor Version 0.17.0</string>
	<key>settings_profile_language</key>
	<string>Language</string>
	<key>settings_dialog_save</key>
	<string>SAVE</string>
	<key>settings_dialog_cancel</key>
	<string>Cancel</string>
	<key>login_fail_sing_in</key>
	<string>Connection Error</string>
	<key>login_fail_field</key>
	<string>Unfilled field</string>
	<key>main_activity_fragment_health</key>
	<string>Dashboard</string>
	<key>main_activity_fragment_health_detail</key>
	<string>Health Detail</string>
	<key>main_activity_fragment_osd_health</key>
	<string>OSD Health</string>
	<key>main_activity_fragment_mon_health</key>
	<string>Monitor Health</string>
	<key>main_activity_fragment_notification</key>
	<string>Notifications</string>
	<key>main_activity_fragment_host_health</key>
	<string>Host List</string>
	<key>main_activity_fragment_pg_status</key>
	<string>PG Status</string>
	<key>main_activity_fragment_usage_status</key>
	<string>Usage Status</string>
	<key>main_activity_fragment_pool_iops</key>
	<string>Pool IOPS</string>
	<key>main_activity_fragment_pool_list</key>
	<string>Pool List</string>
	<key>main_activity_option_logs</key>
	<string>Logs</string>
	<key>main_activity_option_setting</key>
	<string>Settings</string>
	<key>main_activity_option_logout</key>
	<string>Logout</string>
	<key>main_activity_fragment_tab_summary</key>
	<string>Summary</string>
	<key>main_activity_fragment_tab_all_cpus</key>
	<string>All CPUs</string>
	<key>main_activity_fragment_tab_iops</key>
	<string>IOPS</string>
	<key>health_card_status_ok</key>
	<string>OK</string>
	<key>health_card_status_warning</key>
	<string>WARNING</string>
	<key>health_card_status_error</key>
	<string>ERROR</string>
	<key>health_card_health</key>
	<string>HEALTH</string>
	<key>health_card_ago</key>
	<string>ago</string>
	<key>health_card_osd</key>
	<string>OSD</string>
	<key>health_card_in_and_up</key>
	<string>In &amp; Up</string>
	<key>health_card_mon</key>
	<string>MONITOR</string>
	<key>health_card_bottombar_mon</key>
	<string>MON</string>
	<key>health_card_quorum</key>
	<string>Quorum</string>
	<key>health_card_pools</key>
	<string>POOLS</string>
	<key>health_card_active</key>
	<string>Active</string>
	<key>health_card_hosts</key>
	<string>HOSTS</string>
	<key>health_card_reporting</key>
	<string>Reporting</string>
	<key>health_card_pg</key>
	<string>PG STATUS</string>
	<key>health_card_clean</key>
	<string>Clean</string>
	<key>health_card_Working</key>
	<string>Working</string>
	<key>health_card_Dirty</key>
	<string>Dirty</string>
	<key>health_card_usage</key>
	<string>Usage</string>
	<key>health_card_used</key>
	<string>Used</string>
	<key>health_card_available</key>
	<string>Available</string>
	<key>health_card_iops</key>
	<string>IOPS</string>
	<key>health_card_read_write</key>
	<string>- Read + Write</string>
	<key>health_card_warnings</key>
	<string>Warnings</string>
	<key>health_card_errors</key>
	<string>Errors</string>
	<key>health_detail_great</key>
	<string>Great !</string>
	<key>health_detail_work_fine</key>
	<string>System works fine !</string>
	<key>osd_health_all</key>
	<string>All</string>
	<key>osd_health_great</key>
	<string>Great !</string>
	<key>osd_health_work_fine</key>
	<string>All OSD work fine !</string>
	<key>osd_detail_host_name</key>
	<string>Hostname</string>
	<key>osd_detail_public_ip</key>
	<string>Public IP</string>
	<key>osd_detail_cluster_ip</key>
	<string>Cluster IP</string>
	<key>osd_detail_pools</key>
	<string>Pools</string>
	<key>osd_detail_re_weight</key>
	<string>Reweight</string>
	<key>osd_detail_uuid</key>
	<string>UUID</string>
	<key>pool_list_id_replicas</key>
	<string>Replicas</string>
	<key>host_detail_title_cpu_summary</key>
	<string>CPU Summary</string>
	<key>host_detail_title_load_average</key>
	<string>Load Average</string>
	<key>host_detail_title_memory</key>
	<string>Memory</string>
	<key>host_detail_summary_system</key>
	<string>- System</string>
	<key>host_detail_summary_user</key>
	<string>- User</string>
	<key>host_detail_summary_Idle</key>
	<string>- Idle</string>
	<key>host_detail_summary_one_min</key>
	<string>- 1 Min</string>
	<key>host_detail_summary_five_min</key>
	<string>- 5 Min</string>
	<key>host_detail_summary_fifteen_min</key>
	<string>- 15 Min</string>
	<key>host_detail_summary_active</key>
	<string>- Active</string>
	<key>host_detail_summary_buffers</key>
	<string>- Buffers</string>
	<key>host_detail_summary_free</key>
	<string>- Free</string>
	<key>host_detail_summary_cached</key>
	<string>- cached</string>
	<key>host_detail_all_cpus_system</key>
	<string>- System</string>
	<key>host_detail_all_cpus_user</key>
	<string>- User</string>
	<key>host_detail_all_cpus_nice</key>
	<string>- Nice</string>
	<key>host_detail_all_cpus_idle</key>
	<string>- Idle</string>
	<key>host_detail_all_cpus_io_wait</key>
	<string>- IOWait</string>
	<key>host_detail_all_cpus_irq</key>
	<string>- IRQ</string>
	<key>host_detail_all_cpus_soft_irq</key>
	<string>- Soft IRQ</string>
	<key>host_detail_all_cpus_steal</key>
	<string>- Steal</string>
	<key>usage_status_disk_usage_statistics</key>
	<string>Disk Usage Statistics</string>
	<key>usage_status_disk_usage_available</key>
	<string>-Available</string>
	<key>usage_status_disk_usage_used</key>
	<string>-Used</string>
	<key>pool_iops_read</key>
	<string>-Read</string>
	<key>pool_iops_write</key>
	<string>-Write</string>
	<key>other_time_unit_second</key>
	<string>sec </string>
	<key>notification_work_find</key>
	<string>You don&apos;t have any notifications right now!</string>
	<key>main_activity_fragment_notification_detail</key>
	<string>Notification Detail</string>
	<key>settings_profile</key>
	<string>Profile</string>
	<key>settings_profile_formats</key>
	<string>Date Formats</string>
	<key>settings_alert</key>
	<string>Alert</string>
	<key>settings_about</key>
	<string>About</string>
	<key>settings_about_version</key>
	<string>Version</string>
	<key>settings_language_dialog_description</key>
	<string>Please redirect to login page to switch another language.Sign out now?</string>
	<key>settings_dialog_ok</key>
	<string>OK</string>
	<key>OSD is in abnormal status!</key>
	<string>OSD is in abnormal status!</string>
	<key>OSD comes new abnormal status!</key>
	<string>OSD comes new abnormal status!</string>
	<key>OSD has been repaired!</key>
	<string>OSD has been repaired!</string>
	<key>OSD is in severe status!</key>
	<string>OSD is in severe status!</string>
	<key>OSD comes new severe status!</key>
	<string>OSD comes new severe status!</string>
	<key>Monitor is in abnormal status!</key>
	<string>Monitor is in abnormal status!</string>
	<key>Monitor comes new abnormal status!</key>
	<string>Monitor comes new abnormal status!</string>
	<key>Monitor has been repaired!</key>
	<string>Monitor has been repaired!</string>
	<key>Monitor is in severe status!</key>
	<string>Monitor is in severe status!</string>
	<key>Monitor comes new severe status!</key>
	<string>Monitor comes new severe status!</string>
	<key>Some PGs are being modified by Ceph!</key>
	<string>Some PGs are being modified by Ceph!</string>
	<key>Some other PGs are being modified by Ceph!</key>
	<string>Some other PGs are being modified by Ceph!</string>
	<key>PGs have been repaired!</key>
	<string>PGs have been repaired!</string>
	<key>Some PGs stuck in abnormal states!</key>
	<string>Some PGs stuck in abnormal states!</string>
	<key>Some other PGs stuck in abnormal states!</key>
	<string>Some other PGs stuck in abnormal states!</string>
	<key>Disk usage exceeds 70%!Please expand the storage capacity!</key>
	<string>Disk usage exceeds 70%!Please expand the storage capacity!</string>
	<key>Not enough free space! Please expand the storage capacity immediately!</key>
	<string>Not enough free space! Please expand the storage capacity immediately!</string>
	<key>Storage capacity has been expanded!</key>
	<string>Storage capacity has been expanded!</string>
	<key>notification_detail_triggered_title</key>
	<string>Triggered at</string>
	<key>notification_detail_resolved_title</key>
	<string>Resolved at</string>
	<key>Warnings</key>
	<string>Warnings</string>
	<key>Errors</key>
	<string>Errors</string>
	<key>Error ratio</key>
	<string>Error ratio</string>
	<key>Warning ratio</key>
	<string>Warning ratio</string>
	<key>NotificationTitleWarning</key>
	<string>Storage System Warning</string>
	<key>NotificationTitleError</key>
	<string>Storage System Error</string>
	<key>NotificationTitleInfo</key>
	<string>Storage System Info</string>
	<key>settings_alert_notifications</key>
	<string>Notifications</string>
	<key>settings_alert_notifications_detail</key>
	<string>Trigger alerts when storage system comes new warnings</string>
	<key>settings_alert_email_notifications</key>
	<string>Email Notifications</string>
	<key>settings_alert_email_notifications_detail</key>
	<string>Notification will be sent to nutc.imac@gmail.com</string>
	<key>settings_auto_delete</key>
	<string>Auto Delete</string>
	<key>settings_auto_delete_detail</key>
	<string>Delete alerts automatically when alerts were resolved</string>
	<key>settings_time_period</key>
	<string>Time Period</string>
	<key>settings_time_period_detail</key>
	<string>Set a time frame to monitor and receive alerts</string>
	<key>settings_alert_triggers</key>
	<string>Alert Triggers</string>
	<key>settings_alert_triggers_detail</key>
	<string>Setup different alert mechanisms based on various scenarios</string>
	<key>alert_triggers_monitor</key>
	<string>Monitor</string>
	<key>alert_triggers_usage</key>
	<string>Usage</string>
	<key>alert_triggers_osd_warning_detail</key>
	<string>Trigger alert when %1$s OSD is in abnormal status</string>
	<key>alert_triggers_osd_error_detail</key>
	<string>Trigger alert when %1$s OSD is in severely status</string>
	<key>alert_triggers_mon_warning_detail</key>
	<string>Trigger alert when %1$s monitor is in abnormal status</string>
	<key>alert_triggers_mon_error_detail</key>
	<string>Trigger alert when %1$s monitor is in severely status</string>
	<key>alert_triggers_pg_warning_detail</key>
	<string>Trigger alert when %1$s PGs are modified by Ceph</string>
	<key>alert_triggers_pg_error_detail</key>
	<string>Trigger alert when %1$s PGs stuck in abnormal states</string>
	<key>alert_triggers_usage_warning_detail</key>
	<string>Trigger alert when usage exceeds %1$s</string>
	<key>alert_triggers_usage_error_detail</key>
	<string>Trigger alert when usage exceeds %1$s</string>
	<key>Usage</key>
	<string>Usage</string>
	<key>osd_detail_re_weight_help_title</key>
	<string>HELP</string>
	<key>osd_detail_re_weight_help</key>
	<string>Reweight represents the override weight on the OSD. If an OSD usage is higher than others, it could reduce the weight to try and compensate for it.</string>
	<key>notification_detail_count_help</key>
	<string>The number of errors is a cumulative total of health warnings or health errors, so it may exceed the maximum of the system.</string>
	<key>settings_time_period_normal_title</key>
	<string>Normal Status Period</string>
	<key>settings_time_period_normal_content</key>
	<string>Check the system health every %1$s</string>
	<key>settings_time_period_abnormal_title</key>
	<string>Abnormal Status Period</string>
	<key>settings_time_period_abnormal_content</key>
	<string>Check the system health every %1$s</string>
	<key>settings_time_period_server_abnormal_title</key>
	<string>Server Abnormal Status Period</string>
	<key>settings_time_period_server_abnormal_content</key>
	<string>Check the server health every %1$s</string>
	<key>other_time_unit_hour</key>
	<string>hour</string>
	<key>other_time_unit_min</key>
	<string>min</string>
	<key>other_time_unit_sec</key>
	<string>second</string>
</dict>
</plist>
