<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>calamari_ios_clientTests copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>inWinStackCeph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15373A161B871BD400AC14BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15373A251B871C5C00AC14BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1589BCD21AD6A9CE005B86A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1589BCEB1AD6A9CE005B86A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
